<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Contáctenos</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>

	<!-- 
		TODO: Agregar en el tag form los tag faltantes de thymeleaf
		th:object, th:action
		
		Agregar a los input el th:field para mapear los campos con los atributos del objeto.
	 -->
	<div class="container">
	<h1>En qué podemos ayudarle?</h1>
		<form action="#" class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2" for="nombre">Nombre</label>
				<div class=" col-sm-10">
					<input type="text" id="nombre" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Email</label>
				<div class=" col-sm-10">
					<input type="email" id="email" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="comentario">Comentario</label>
				<div class=" col-sm-10">
					<input type="text" id="comentario" />
				</div>
			</div>
			<div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Enviar" class="btn btn-default" />
                </div>
            </div>
		</form>
	</div>
</body>
</html>