<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Inicio</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>

	<!-- 
		TODO: Agregar  los links a los controladores correspondientes 
		en el tag a utilizando th:href="@{/url-de-controlador}"
	 -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Tarea SpringMVC</a>
			</div>
			<ul type="square" class="nav navbar-nav">
				<li><a>Lista de Comentarios</a></li>
				<li><a>Agregar Comentarios</a></li>
			</ul>
		</div>
	</nav>

</body>
</html>