<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Comentarios</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>

	<div class="container">
		<h1>Listado de comentarios</h1>
		<!-- 
			TODO: 1. Agregar el th:each en el tbody para desplegar los comentarios. 
				  2. Agregar el th:text en los td para los datos del comentario
		-->
		<div class="table-responsive col-lg-8">
			<table class="table table-striped">
				<thead>
					<th>Nombre</th>
					<th>Mail</th>
					<th>Comentario</th>
				</thead>
				<tbody> 
				<tr>
					<td>Vicente</td>
					<td>vrfranco.py@gmail.com</td>
					<td>Este es un comentario de ejemplo.</td>
				</tr>
					
				</tbody>
			</table>
		</div>			
	</div>
</body>
</html>